*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.products-container{
    display: flex;
    gap: 15px;
    margin-bottom: 15px
}

.renderedCart{
    display: grid;
    grid-template-columns: 100px 100px 150px;
    column-gap: 5px;
    
}

.total-container{
    font-size: 20px;
    margin-top: 10px;
}

.rendered-img{
    width: 150px;
}